html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.main {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    min-height: 400px;
}

.container {
    max-width: 960px;
}

.navbar .nav-item.active {
    font-weight: bold;
}

footer .links p {
    margin-bottom: 0;
}

header .bg-light {
    background-color: rgb(131, 170, 139);
}

footer.bg-light {
    background-color: rgb(131, 170, 139);
}

#Logo {
    width: 100px;
}

@media (min-width: 992px) {
    #navbarNav {
        margin-right: 116px;
    }
}

.pennant-chain-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chain-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.chain {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pennant-chain {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.pennant {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 60px solid;
    transform: rotate(0deg);
    position: relative;
    top: -20px; /* Adjust to make the pennants look like they are attached to the chain */
}

.pennant:nth-child(1) {
    border-top-color: #e5b6ed;
    top: 15px;
    transform: rotate(13deg);
}

.pennant:nth-child(2) {
    border-top-color: #f497c6;
    top: 36px;
    transform: rotate(7deg);
}

.pennant:nth-child(3) {
    border-top-color: #f2cf83;
    top: 43px;
    transform: rotate(0deg);
}

.pennant:nth-child(4) {
    border-top-color: #e9efb6;
    top: 36px;
    transform: rotate(-7deg);
}

.pennant:nth-child(5) {
    border-top-color: #b3edeb;
    top: 15px;
    transform: rotate(-13deg);
}